%h1 Добро пожаловать в систему Beweek!
%p Для Вас в системе создан пользователь, для входа воспользуйтесь данными:
%br
%p E-mail: #{@email}
%p Пароль: #{@pass}
- if @cr.to_i == 1
  %p После активации для Вас будет создана тестовая компания
%p
  Что бы активировать учетную запись и начать работать перейдите по
  %a{:href => @href} ссылке